.file-uploader-container {
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
.progress-container {
width: 100%;
background-color: #f3f3f3;
margin-top: 20px;
height: 30px;
}

.progress-bar {
width: 0;
height: 100%;
background-color: #4caf50;
}


.file-uploader-container {
    position: relative;
  }
  
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .delete-button {
    position: absolute;
    top: 0;
    right: 0;
  }
  